body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem; /* เพิ่มช่องว่างระหว่าง Links และ Icon */
}


.navbar-brand a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.navbar-links {
    display: flex;
    gap: 1rem; /* ระยะห่างระหว่างลิงก์ */
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #00aaff;
}

.logo {
    height: 20;
}

.logo img {
    width: 100px; /* กำหนดความกว้างเป็น 50px */
    height: auto; /* ปรับความสูงให้อัตโนมัติให้สัดส่วนสมดุล */
    object-fit: contain; /* ให้ภาพไม่ถูกครอบ */
    display: block; /* จัดให้อยู่ในรูปแบบ Block Element */
}


/* .profile-icon {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

